@import "../base/global";

.header__img {
  padding-top: 20px;
}
#header {
  position: fixed;
  position: relative;
  z-index: 3;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

body {
  background: #fbf8ec;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 150px;
  border-radius: 4px;
  border: 1px solid #70c05b;
  background: #fff;
  color: #8f8f8f;
}

.form__img {
  margin-left: -50px;
  margin-bottom: -8px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.wrapp1__Sentence {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
  color: #414141;
}

.wrapp1__img {
  margin-left: auto;
  margin-right: auto;
}

.wrapper__main {
  width: 65px;
  text-align: center;
}

.first__wrapper {
  max-width: 460px;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 10px;
  display: grid;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header__end-sentence {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #232323;
}

.header__end {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .header__end-sentence {
    display: none;
  }

  .end__img {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__end-img {
    display: none;
  }
  .first__wrapper {
    display: none;
  }
  .header__btn {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  nav {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #header {
    max-width: 100%;
  }
  .input {
    max-width: 230px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  nav {
    max-width: 100%;
  }
  .input {
    max-width: 160px;
  }
}

#hero {
  background-image: url(../../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.hero__img {
  padding-top: 12px;
  padding-bottom: 12px;
}

.hero__sentence {
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width: 1280px) {
  .hero__container {
    flex-direction: column;
  }
}

//cards

#card {
  padding-top: 80px;
}

.card__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}

.card__sentence {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #606060;
}

.card__header2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.card__header {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards_current__cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}

.cards__last {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
}

.cards_current__cost2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #606060;
}

.cards__last2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
}

.cards__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1 {
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 270px;
  background-color: #fff;
}

.cards__wrapper {
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1:hover {
  transform: scale(1.2);
  transition: 2s;
}

.cards__text {
  max-width: 220px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 5px;
  color: #414141;
}

.cards__yulduz {
  padding-left: 5px;
}

.cards_btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #70c05b;
  color: #70c05b;
}

.btn {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
}

.cards_btn:hover {
  border-radius: 4px;
  background: #f63;
  color: #fff;
  transition: 0.5s;
  border: none;
}

.text2 {
  max-width: 250px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 48px;
}

.card2 {
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 270px;
  background-color: #fff;
}

.card2:hover {
  transform: scale(1.2);
  transition: 2s;
}
.card3 {
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 270px;
  background-color: #fff;
}

.card3:hover {
  transform: scale(1.2);
  transition: 2s;
}
.card4 {
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  max-width: 270px;
  background-color: #fff;
}

.card4:hover {
  transform: scale(1.2);
  transition: 2s;
}

@media screen and (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 860px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 48px;
    row-gap: 40px;
  }
}

#novinki {
  padding-top: 120px;
}

.btn {
  margin-top: 8px;
}

#pokupali {
  padding-top: 120px;
}

//info

#info {
  padding-top: 120px;
  padding-bottom: 120px;
}

.info__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #414141;
}

.info__wrapper {
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 44px;
  padding-right: 31px;
}

.info__card1__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 6px;
  color: #414141;
}

.info__card1 {
  max-width: 584px;
  border-radius: 4px;
  margin-top: 40px;
  background: #fcd5ba;
}

.info__card1:hover {
  transform: scale(1.1);
  transition: 0.9s;
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}

.info__wrapper {
  display: flex;
  align-items: center;
  gap: 21px;
}

.info__subtitle {
  max-width: 258px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}

.info__text {
  max-width: 230px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #414141;
}

.info__card2 {
  max-width: 584px;
  height: 310px;
  margin-top: 50px;
  border-radius: 4px;
  padding-bottom: 0;
  background: #e5ffde;
}

.info__card2:hover {
  transform: scale(1.1);
  transition: 0.9s;
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}

.info__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

@media screen and (max-width: 1100px) {
  // .info__card2 {
  //   max-width: 700px;
  // }
  .info__card-img {
    margin-right: -70px;
  }

  .info__card1 {
    overflow: hidden;
  }

  .info__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 680px) {
  .info__card2 {
    max-width: 450px;
  }
  .info__card1 {
    max-width: 450px;
  }

  .info__title {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .info__card2 {
    max-width: 380px;
  }
  .info__card1 {
    max-width: 380px;
  }
}

@media screen and (max-width: 500px) {
  .info__card2 {
    max-width: 350px;
  }
  .info__card1 {
    max-width: 350px;
  }
}

//map

.map__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
  color: #414141;
}

.map__btn {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px;
  border-radius: 4px;
  background: #f3f2f1;
  color: #606060;
}

.map__btn:hover {
  background-color: #70c05b;
  color: #fff;
  transition: 0.6s;
}

.map__btns {
  margin-bottom: 24px;
}

.map {
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .map {
    max-width: 737px;
  }
}

@media screen and (max-width: 610px) {
  .map {
    max-width: 690px;
  }
}

@media screen and (max-width: 550px) {
  .map {
    max-width: 600px;
  }
}

@media screen and (max-width: 450px) {
  .map {
    max-width: 400px;
  }
}

//statya

#statya {
  padding-top: 120px;
  padding-bottom: 80px;
}

.statya__card {
  max-width: 376px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.statya__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #8f8f8f;
}

.statya__subtitle {
  max-width: 356px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 10px;
  color: #414141;
}

.statya__text {
  max-width: 356px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #414141;
}

.statya__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #e5ffde;
  color: #70c05b;
}

.statya__wrapper {
  padding-left: 10px;
  padding-bottom: 8px;
}

.statya__btn:hover {
  border-radius: 4px;
  background-color: #70c05b;
  color: #fff;
  transition: 0.7s;
}

.statya__card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

@media screen and (max-width: 1000px) {
  .statya__card {
    max-width: 224px;
  }

  .statya__img {
    max-width: 224px;
  }
}

@media screen and (max-width: 800px) {
  .statya__card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media screen and (max-width: 510px) {
  .statya__card__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}
//footer

#footer {
  padding-top: 80px;
  background-image: url(../../img/footer__img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #414141;
}

.footer__section1 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__link {
  margin-left: 40px;
}

.section2__images .img {
  margin-left: 16px;
}

.section2__Wrapp {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section2__word {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #414141;
}


.section2__wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 22px;
}

.section2__Wrapp{
  margin-top: 30px;
}

.footer__section2{
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__container{
  display: flex;
  align-items: center;
  gap: 135px;
}

.section2__images{
  display: none;
}

@media screen and (max-width:1000px) {
  .section2__images{
    display: flex;
    align-items: center;
  }

  .linkers__wrspper{
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width:700px) {
  .footer__section1{
    flex-direction: column;
  }


  .section2__images{
    display: none;
  }

  .section2__images2{
    transform: rotate(-360deg);
    margin-top: -80px;
    margin-left: -300px;
  }

  .section2__Wrapp{
    margin-left: -170px;
    margin-top: -30px
;
  }

  .section2__wrapper{
    display: none;
  }

  .footer__btn{
    margin-left: -180px;
  }

   .section2__images2 img{
    transform: rotate(-360deg);
    
  }

  
}